# Environment Variables
.env
server/.env
frontend/.env

# Node Modules
node_modules/
server/node_modules/
frontend/node_modules/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Build Files
dist/
build/

# Coverage
coverage/